* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background-image: url("herobg.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: 90% 1%;
  background-repeat: no-repeat;
}

main {
  position: relative;
  overflow: hidden;
  max-width: 100vw;
  min-height: 100vh;
}

nav {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
nav img {
  width: clamp(7rem, 10vw, 15rem);
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 3rem;
}
nav ul a {
  text-decoration: none;
  color: white;
  font-size: clamp(0.8rem, 1vw, 2rem);
  transition: text-underline-offset, text-shadow, text-decoration-color 1s ease, -webkit-text-decoration;
  transition: text-decoration, text-underline-offset, text-shadow, text-decoration-color 1s ease;
  transition: text-decoration, text-underline-offset, text-shadow, text-decoration-color 1s ease, -webkit-text-decoration;
}
nav ul a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-shadow: 0 0 10px #ffffff;
  text-decoration-color: #0cd5b7;
}
nav .contact-us {
  padding: clamp(0.3rem, 1vw, 1rem) clamp(0.8rem, 1.5vw, 1.5rem);
  background-color: transparent;
  color: white;
  text-align: center;
  border-radius: 2rem;
  cursor: pointer;
  border: 2px solid #0cd5b7;
  transition: box-shadow 2s ease;
}
nav .contact-us p {
  font-size: clamp(0.8rem, 1vw, 2rem);
}
nav .contact-us:hover {
  box-shadow: inset 60px 0 60px #0cd5b7, 0 0 10px #0cd5b7;
}

.hero {
  padding: 0 2rem;
  margin-top: clamp(1rem, 6vw, 6rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.hero .hero-left .hero-text-1 {
  color: #0cd5b7;
  font-size: clamp(1rem, 1vw, 2rem);
}
.hero .hero-left h3 {
  font-weight: 300;
}
.hero .hero-left h1 {
  letter-spacing: -0.2rem;
  line-height: 1;
}
.hero .hero-left .hero-text-2 {
  font-family: "Orbitron", sans-serif;
  color: white;
  font-size: clamp(3rem, 6.5vw, 12rem);
  font-weight: 700;
}
.hero .hero-left .hero-text-3 {
  font-family: "Orbitron", sans-serif;
  color: #0cd5b7;
  font-size: clamp(2.7rem, 4.7vw, 6.7rem);
  font-weight: 700;
}
.hero .hero-left .sub-heading {
  color: white;
  font-size: clamp(1rem, 1.2vw, 2rem);
  font-weight: 300;
  margin-top: clamp(0.5rem, 2.5vw, 2.5rem);
}
.hero .hero-left p {
  font-size: clamp(0.7rem, 1vw, 1.5rem);
  margin-top: 1rem;
  color: #ffffff;
}
.hero .hero-left .button {
  margin-top: clamp(0rem, 1vw, 3rem);
  display: flex;
  align-items: center;
  gap: clamp(1rem, 2vw, 3rem);
}
.hero .hero-left .button a {
  font-size: clamp(0.8rem, 1.2vw, 1.5rem);
  text-decoration: none;
  color: white;
  padding: clamp(0rem, 1vw, 1rem) clamp(0.5rem, 2.5vw, 2.5rem);
  background-color: transparent;
  text-align: center;
  border-radius: 0.8rem;
  border: 2px solid #0cd5b7;
  transition: box-shadow 2s ease;
}
.hero .hero-left .button a:hover {
  box-shadow: inset 60px 0 60px #0cd5b7, 0 0 10px #0cd5b7;
}
.hero .hero-left .button .play-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
}
.hero .hero-left .button .play-button p {
  text-align: center;
  padding-bottom: 1rem;
}
.hero .hero-left .button .play-button img {
  width: 2.2rem;
  padding: 0.5rem;
  border: 2px solid #0cd5b7;
  border-radius: 3rem;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  transition: box-shadow 2s ease;
}
.hero .hero-left .button .play-button img:hover {
  box-shadow: inset 10px 0 20px #0cd5b7, 0 0 10px #0cd5b7;
}
.hero img {
  width: clamp(6rem, 12vw, 20rem);
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cyborg {
  width: 100%;
  position: absolute;
  top: 2%;
  left: 30%;
  z-index: -1;
}
.cyborg img {
  width: clamp(16rem, 40vw, 70rem);
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.glass-panel {
  padding: 2rem;
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.062745098);
  border: 1px solid rgba(255, 255, 255, 0.186);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 3rem 2rem;
  gap: 4rem;
  border-radius: 2rem;
}
.glass-panel .stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
.glass-panel .stats h1 {
  color: #0cd5b7;
  font-family: "Orbitron", sans-serif;
}
.glass-panel .stats p {
  color: rgba(255, 255, 255, 0.7176470588);
  font-size: clamp(0.8rem, 1vw, 1.5rem);
}

.our-projects {
  text-align: center;
  font-family: "Orbitron", sans-serif;
}
.our-projects h3 {
  color: #0cd5b7;
}
.our-projects h1 {
  font-size: 2.5rem;
  font-weight: 500;
  color: #ffffff;
}

.projects {
  display: flex;
  padding: 3rem;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}
.projects .project-sec {
  backdrop-filter: blur(10px);
  border-radius: 2rem;
  width: 27rem;
  overflow: hidden;
  border: 2px solid #0cd5b7;
}
.projects .project-sec .pic {
  width: 100%;
  height: 16rem;
  overflow: hidden;
}
.projects .project-sec .pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.projects .project-sec p {
  color: #ffffff;
  padding: 1rem;
}
.projects .project-sec .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.projects .project-sec .links .logos {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}
.projects .project-sec .links .logos .fa-android {
  font-size: 1.7rem;
  color: rgb(0, 199, 176);
  transition: text-shadow 1s ease;
}
.projects .project-sec .links .logos .fa-android:hover {
  text-shadow: 0 0 10px rgb(150, 244, 233);
}
.projects .project-sec .links .logos .fa-apple {
  font-size: 2rem;
  color: #ffffff;
  transition: text-shadow 0.5s ease;
}
.projects .project-sec .links .logos .fa-apple:hover {
  text-shadow: 0 0 10px #ffffff;
}
.projects .project-sec .links .logos .fa-meta {
  font-size: 1.5rem;
  color: #ffffff;
  transition: text-shadow 0.5s ease;
}
.projects .project-sec .links .logos .fa-meta:hover {
  text-shadow: 0 0 10px #ffffff;
  transition: text-shadow 0.5s ease;
}
.projects .project-sec .links .arrow {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid #0cd5b7;
  border-radius: 50%;
  padding: 10px;
}
.projects .project-sec .links .arrow img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.how-we-work {
  text-align: center;
  font-family: "Orbitron", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: #ffffff;
}
.how-we-work span {
  color: #0cd5b7;
}

.planning {
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 1rem 2rem;
  gap: 3rem;
}
.planning .blocks {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}
.planning .steps {
  width: 10rem;
  height: 11rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid #0cd5b7;
  border-radius: 2rem;
  padding: 1rem;
}
.planning .steps h1 {
  font-family: "Orbitron", sans-serif;
  color: #0cd5b7;
  font-weight: 400;
}
.planning .steps .heading {
  font-size: 0.8rem;
  font-weight: 600;
  color: #ffffff;
}
.planning .steps .dits {
  color: rgba(255, 255, 255, 0.4470588235);
  font-size: 0.8rem;
}

.contacts {
  border: 1px solid #0cd5b7;
  padding: 2rem;
  margin: 0 2rem;
  flex-wrap: wrap;
  gap: 5rem;
  border-radius: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.contacts .left-sec {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contacts .left-sec h1 {
  font-size: 1.5rem;
  font-family: "Orbitron", sans-serif;
  color: #ffffff;
}
.contacts .left-sec h1 span {
  color: #0cd5b7;
}
.contacts .left-sec p {
  color: rgba(255, 255, 255, 0.4470588235);
  font-size: 0.8rem;
}
.contacts .left-sec .contact-us {
  width: 10rem;
  padding: clamp(0.3rem, 1vw, 1rem) clamp(0.8rem, 1.5vw, 1.5rem);
  background-color: transparent;
  color: white;
  text-align: center;
  border-radius: 0.8rem;
  cursor: pointer;
  border: 2px solid #0cd5b7;
  transition: box-shadow 2s ease;
}
.contacts .left-sec .contact-us p {
  color: #ffffff;
  font-size: clamp(0.8rem, 1vw, 2rem);
}
.contacts .left-sec .contact-us:hover {
  box-shadow: inset 60px 0 60px #0cd5b7, 0 0 10px #0cd5b7;
}
.contacts .right-sec {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 3rem;
}
.contacts .right-sec .sub-left-sec {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1.4rem;
}
.contacts .right-sec .sub-left-sec .company-logo {
  width: 12rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.contacts .right-sec .sub-left-sec p {
  color: rgba(255, 255, 255, 0.4470588235);
  font-size: 0.8rem;
}
.contacts .right-sec .sub-left-sec .socials {
  width: 7rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  gap: 0.8rem;
}
.contacts .right-sec .sub-left-sec .socials img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.contacts .right-sec .line {
  width: 1px;
  height: 10rem;
  background-color: rgba(255, 255, 255, 0.6549019608);
}
.contacts .right-sec .sub-right-sec {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contacts .right-sec .sub-right-sec h1 {
  color: #0cd5b7;
  font-size: 1.4rem;
  font-family: "Orbitron", sans-serif;
}
.contacts .right-sec .sub-right-sec .conts {
  display: flex;
  gap: 0.8rem;
}
.contacts .right-sec .sub-right-sec .conts img {
  width: 1.2rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.contacts .right-sec .sub-right-sec .conts p {
  color: rgba(255, 255, 255, 0.4470588235);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}
footer a {
  text-decoration: none;
  color: white;
  font-size: clamp(0.8rem, 1vw, 2rem);
}
footer .rest-links {
  display: flex;
  gap: 2rem;
}

@media (max-width: 768px) {
  html {
    font-size: clamp(1rem, 2vw, 3rem);
  }
  nav ul {
    display: none;
  }
  .contacts {
    justify-content: center;
  }
  .contacts .left-sec {
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 1134px) {
  .contacts {
    justify-content: center;
  }
  .contacts .left-sec {
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 692px) {
  .contacts .right-sec {
    justify-content: center;
  }
  .contacts .right-sec .line {
    display: none;
  }
  .contacts .right-sec .sub-left-sec {
    align-items: center;
  }
  .contacts .right-sec .sub-right-sec {
    align-items: center;
  }
}
@media (max-width: 560px) {
  .hero-right {
    display: none;
  }
  .cyborg {
    left: 38%;
  }
}/*# sourceMappingURL=index.css.map */